body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,fieldset,legend,input,form{margin:0;padding:0}
ul li{list-style: none;}
a{text-decoration: none;}
#box1{
	width: 100%;
	height: 76px;
	background: url(../images/images1/10.jpg) repeat-x;
}
#box .box-1{
	width: 980px;
	height: 73px;
	margin: 0 auto;
	border-bottom: 3px solid #cc0003;
}
#box .box-2{
	width: 337px;
	height: 76px;
	float: left;
}
#box .ul1{
	width: 77px;
	float: left;
}
#box .ul1 img{
	margin-top: 8px;
}
#box .ul2{
	float: left;
}
#box .ul2 p{
	font-size: 12px;
	font-family: "宋体";
	padding-top: 7px;
	height: 23px;
	line-height: 23px;
}
#box .ul2 h3{
	font-size: 16px;
	font-family: "微软雅黑";
	padding: 5px 0px 0px 6px;
	height: 29px;
	line-height: 29px;
}
#box .box-3{
	width: 643px;
	height: 76px;
	float: left;
}
#box .box-3 .box-4{
	height: 30px;
	padding-top: 7px;
	padding-left: 56px;
}
.box-4 .ul3{
	width: 65px;
	height: 24px;
	float: left;
}
.box-4 .ul3 img{
	width: 65px;
	height: 24px;
}
.box-4 .ul4{
	font-size: 12px;
	float: left;
	line-height: 24px;
	padding-left: 15px;
}
.box-4 .ul4 a{
	color: #d19f6f;
	padding: 0 3px;
}
.box-4 .ul4 span{
	width: 18px;
	height: 18px;
	display: block;
	background: url(../images/images1/3.gif) no-repeat -253px 0px;
	float: left;
	margin-top: 3px;
}
.box-4 .ul5{
	float: left;
	padding-left: 10px;
}
#but1{
	width: 48px;
	height: 23px;
	background: url(../images/images1/3.gif) no-repeat -2px -28px;
	outline: none;
	border: 0px;
	cursor: pointer;
}
#but2{
	width: 48px;
	height: 23px;
	background: url(../images/images1/3.gif) no-repeat -52px -28px;
	outline: none;
	border: 0px;
	cursor: pointer;
}
.box-5{
	width: 100%;
	height: 25px;
	margin-top: 11px;
}
.box-5 .ul6{
	width: 251px;
	height: 25px;
	background: url(../images/images1/3.gif) no-repeat;
	float: left;
}
.box-5 .ul7{
	width: 392px;
	height: 25px;
	background: url(../images/images1/3.gif) repeat-x 0px -220px;
	float: left;
}
.ul7 h3{
	width: 36px;
	height: 20px;
	background: url(../images/images1/16.png) no-repeat;
	margin-top: 5px;
	cursor: pointer;
	float: left;
}
.ul7 p{
	width: 3px;
	height: 18px;
	background: url(../images/images1/11.png) no-repeat;
	margin-top: 5px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
.ul7 h4{
	width: 58px;
	height: 20px;
	background: url(../images/images1/12.png) no-repeat;
	margin-top: 5px;
	cursor: pointer;
	float: left;
}
.ul7 form{
	position: relative;
}
.ul7 form h5{
	width: 168px;
	height: 21px;
	float: left;
	background: url(../images/images1/3.gif) no-repeat -137px -106px;
	position: absolute;
	left: 105px;
	top: 3px;
}
.ul7 .tex{
	width: 100px;
	height: 16px;
	float: left;
	position: absolute;
	left: 126px;
	top: 5px;
	z-index: 2;
	border: none;
	outline: none;
}
.ul7 .sub{
	width: 40px;
	height: 16px;
	float: left;
	position: absolute;
	left: 231px;
	top: 5px;
	z-index: 2;
	cursor: pointer;
	border: none;
	outline: none;
}
/*
 内容部分
 * */
#box2{
	width: 100%;
}
#box2 .box2-1{
	width: 980px;
	margin: 5px auto;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
}
#box2 .box2-2{
	width: 944px;
	margin: 0 auto;
	padding: 30px 18px 5px;
}
#box2 .box2-2 .box2-3{
	font-size: 24px;
	float: left;
	font-family: "新宋体";
	font-weight: 700;
	line-height: 24px;
}
#box2 .box2-4{
	font-size: 14px;
	margin-left: 10px;
	padding-top: 8px;	
	float: left;
}
.clear{
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden;
}
#box2 .box2-5{
	float: right;
	width: 402px;
	height: 30px;
	background: url(../images/116.png) no-repeat 0px -228px;
}
.box3{
	width: 944px;
	margin: 0 auto;
	padding: 5px 18px 30px 18px;
}
.box3-1{
	width: 942px;
	margin: 0 auto;
	border: 1px solid #CCCCCC;
}
.ul8{
	height: 37px;
	border-bottom: 1px solid #CCCCCC;
	background-color:#efefef;
	font-size: 12px;
	font-family: "宋体";
	font-weight: 700;
	color: #4a5266;
}
.ul8 li:nth-child(1){
	width: 433px;
	text-align: center;
	line-height: 37px;
	float: left;
	border-right: 1px solid #CCCCCC;
}
.ul8 li:nth-child(2){
	width: 101px;
	text-align: center;
	line-height: 37px;
	float: left;
	border-right: 1px solid #CCCCCC;
}
.ul8 li:nth-child(3){
	width: 106px;
	text-align: center;
	line-height: 37px;
	float: left;
	border-right: 1px solid #CCCCCC;
}
.ul8 li:nth-child(4){
	width: 166px;
	text-align: center;
	line-height: 37px;
	float: left;
	border-right: 1px solid #CCCCCC;
}
.ul8 li:nth-child(5){
	width: 132px;
	text-align: center;
	line-height: 37px;
	float: left;
}
.ul9{
	
	border-bottom: 1px solid #CCCCCC;
	font-size: 12px;
	font-family: "宋体";
	width: 100%;
	float: left;
}
.ul9 .l1{
	width: 433px;
	height: 88px;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	float: left;
}
.ul9 img{
	width: 80px;
	height: 80px;
	float: left;
	margin-top: 4px;
	margin-left: 18px;
}
.ul9 .l1 h4{
	margin-top: 30px;
}
.ul9 .l2{
	width: 101px;
	height: 88px;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	float: left;
	line-height: 88px;
}
.ul9 .l3{
	width: 106px;
	height: 88px;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	float: left;
	line-height: 88px;
}
.ul9 .l3 input{
	width: 20px;
	height: 20px;
	text-align: center;
	cursor: pointer;
	
}
.ul9 .l3 .tex3{
	width: 20px;
	height: 20px;
	text-align: center;
	cursor: pointer;
}

.ul9 .l3 .tex4{
	width: 20px;
	height: 20px;
	text-align: center;
	cursor: pointer;
}

.ul9 .l3 .tex5{
	width: 20px;
	height: 20px;
	text-align: center;
	cursor: pointer;
}
.ul9 .l4{
	width: 166px;
	height: 88px;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	float: left;
	line-height: 88px;
}
.ul9 .l5{
	width: 131px;
	height: 88px;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	float: left;
	line-height: 88px;
}
.ul9 .l5 .aa{
	text-align: center;
}


.ul9 h5{
	width: 300px;
	margin-top: 34px;
	float: left;
}
.ul10{
	height: 82px;
	background-color: #f8f6f7;
}
.ul10 .p1{
	width: 103px;
	height: 27px;
	background: url(../images/116.png) no-repeat -77px -165px;
	float: left;
	margin-top: 20px;
	margin-left: 40px;
	cursor: pointer;
}
.ul10 .sp{
	width: 500px;
	float: right;
	font-size: 13px;
	margin-top: 20px;
}
.ul10 font{
	margin-right: 46px;
	margin-left: 140px;
}
.ul10 .sp span{
	color: #8c8c8c;
}
.ul10 .sp #s{
	color: #e63e3e;
	font-size: 14px;
}
.box4{
	width: 942px;
	margin: 0 auto;
}
.box4 .p2{
	width: 138px;
	height: 28px;
	float: left;
	background: url(../images/116.png) no-repeat -185px -165px;
	margin-left: 652px;
	cursor: pointer;
}
.box4 .p3{
	width: 138px;
	height: 28px;
	float: left;
	background: url(../images/116.png) no-repeat 0px -194px;
	margin-left: 13px;
	cursor: pointer;
}















.box10{
	width: 980px;
	height: 127px;
	background: url(../images/93.gif) repeat-x;
	margin-top: 6px;
	margin: 0 auto;
	margin-top: 15px;
}
.box10 .dl1{
	width: 80px;
	height: 110px;
	padding: 10px 0px 0px 20px;
	float: left;
}
.dl1 dt{
	width: 80px;
	height: 20px;
	background: url(../images/85.gif) no-repeat 0px -53px;
}
.dl1 dd{
	margin-top: 15px;
	font-size: 12px;
	font-family: "宋体";
}
.dl1 dd a{
	display: block;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 3px;
}

.box10 .k1{
	width: 2px;
	height: 63px;
	background: url(../images/85.gif) no-repeat -396px -27px;
	margin-top: 47px;
	float: left;
	margin-left: 40px;
	margin-right: 10px;
}
.box10 .dl2{
	width: 80px;
	height: 110px;
	padding: 10px 0px 0px 20px;
	float: left;
}
.dl2 dt{
	width: 80px;
	height: 20px;
	background: url(../images/85.gif) no-repeat 0px -73px;
}
.dl2 dd{
	margin-top: 15px;
	font-size: 12px;
	font-family: "宋体";
}
.dl2 dd a{
	display: block;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 3px;
}

.box10 .k2{
	width: 2px;
	height: 63px;
	background: url(../images/85.gif) no-repeat -396px -27px;
	margin-top: 47px;
	float: left;
	margin-left: 40px;
	margin-right: 10px;
}
.box10 .dl3{
	width: 80px;
	height: 110px;
	padding: 10px 0px 0px 20px;
	float: left;
}
.dl3 dt{
	width: 80px;
	height: 20px;
	background: url(../images/85.gif) no-repeat 0px -94px;
}
.dl3 dd{
	margin-top: 15px;
	font-size: 12px;
	font-family: "宋体";
}
.dl3 dd a{
	display: block;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 3px;
}

.box10 .k3{
	width: 2px;
	height: 63px;
	background: url(../images/85.gif) no-repeat -396px -27px;
	margin-top: 47px;
	float: left;
	margin-left: 40px;
	margin-right: 10px;
}
.box10 .dl4{
	width: 80px;
	height: 110px;
	padding: 10px 0px 0px 20px;
	float: left;
}
.dl4 dt{
	width: 80px;
	height: 20px;
	background: url(../images/85.gif) no-repeat 0px -114px;
}
.dl4 dd{
	margin-top: 15px;
	font-size: 12px;
	font-family: "宋体";
}
.dl4 dd a{
	display: block;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 3px;
}

.box10 .k4{
	width: 387px;
	height: 127px;
	background: url(../images/111.jpg) no-repeat;
	float: right;
}


.box11{
	width: 980px;
	height: 113px;
	margin: 0 auto;
}
.box11 .ul15{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	font-family: "宋体";
	text-align: center;
}
.ul15 a{
	color: #000000;
}

.box11 .ul16{
	width: 100%;
	font-size: 12px;
	font-family: "宋体";
	text-align: center;
}

.box11 .ul17{
	width: 100%;
	text-align: center;
	height: 47px;
	padding-top: 10px;
}