body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,fieldset,legend,input,form{margin:0;padding:0}
ul li{list-style: none;}
a{text-decoration: none;}
#box1{
	width: 100%;
	height: 76px;
	background: url(../images/images1/10.jpg) repeat-x;
}
#box .box-1{
	width: 980px;
	height: 73px;
	margin: 0 auto;
	border-bottom: 3px solid #cc0003;
}
#box .box-2{
	width: 337px;
	height: 76px;
	float: left;
}
#box .ul1{
	width: 77px;
	float: left;
}
#box .ul1 img{
	margin-top: 8px;
}
#box .ul2{
	float: left;
}
#box .ul2 p{
	font-size: 12px;
	font-family: "宋体";
	padding-top: 7px;
	height: 23px;
	line-height: 23px;
}
#box .ul2 h3{
	font-size: 16px;
	font-family: "微软雅黑";
	padding: 5px 0px 0px 6px;
	height: 29px;
	line-height: 29px;
}
#box .box-3{
	width: 643px;
	height: 76px;
	float: left;
}
#box .box-3 .box-4{
	height: 30px;
	padding-top: 7px;
	padding-left: 56px;
}
.box-4 .ul3{
	width: 65px;
	height: 24px;
	float: left;
}
.box-4 .ul3 img{
	width: 65px;
	height: 24px;
}
.box-4 .ul4{
	font-size: 12px;
	float: left;
	line-height: 24px;
	padding-left: 15px;
}
.box-4 .ul4 a{
	color: #d19f6f;
	padding: 0 3px;
}
.box-4 .ul4 span{
	width: 18px;
	height: 18px;
	display: block;
	background: url(../images/images1/3.gif) no-repeat -253px 0px;
	float: left;
	margin-top: 3px;
}
.box-4 .ul5{
	float: left;
	padding-left: 10px;
}
#but1{
	width: 48px;
	height: 23px;
	background: url(../images/images1/3.gif) no-repeat -2px -28px;
	outline: none;
	border: 0px;
	cursor: pointer;
}
#but2{
	width: 48px;
	height: 23px;
	background: url(../images/images1/3.gif) no-repeat -52px -28px;
	outline: none;
	border: 0px;
	cursor: pointer;
}
.box-5{
	width: 100%;
	height: 25px;
	margin-top: 11px;
}
.box-5 .ul6{
	width: 251px;
	height: 25px;
	background: url(../images/images1/3.gif) no-repeat;
	float: left;
}
.box-5 .ul7{
	width: 392px;
	height: 25px;
	background: url(../images/images1/3.gif) repeat-x 0px -220px;
	float: left;
}
.ul7 h3{
	width: 36px;
	height: 20px;
	background: url(../images/images1/16.png) no-repeat;
	margin-top: 5px;
	cursor: pointer;
	float: left;
}
.ul7 p{
	width: 3px;
	height: 18px;
	background: url(../images/images1/11.png) no-repeat;
	margin-top: 5px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
.ul7 h4{
	width: 58px;
	height: 20px;
	background: url(../images/images1/12.png) no-repeat;
	margin-top: 5px;
	cursor: pointer;
	float: left;
}
.ul7 form{
	position: relative;
}
.ul7 form h5{
	width: 168px;
	height: 21px;
	float: left;
	background: url(../images/images1/3.gif) no-repeat -137px -106px;
	position: absolute;
	left: 105px;
	top: 3px;
}
.ul7 .tex{
	width: 100px;
	height: 17px;
	float: left;
	position: absolute;
	left: 126px;
	top: 4px;
	z-index: 2;
	border: none;
	outline: none;
}
.ul7 .sub{
	width: 40px;
	height: 16px;
	float: left;
	position: absolute;
	left: 231px;
	top: 5px;
	z-index: 2;
	cursor: pointer;
	border: none;
	outline: none;
}
/*
 内容部分
 * */
#box2{
	width: 100%;
	height: 560px;
}
#box2 .box2-1{
	width: 978px;
	height: 560px;
	border: 1px solid #CCCCCC;
	margin: 0 auto;
	margin-top: 10px;
}

.box2-1 .box2-2{
	width: 416px;
	height: 444px;
	float: left;
}
.box2-2 img{
	padding: 30px 50px 0px 60px;
}
.box2-1 .box2-3{
	width: 520px;
	height: 420px;
	margin-top: 50px;
	border: 1px solid #e5e5e5;
	float: left;
}
.box2-3 .ul8{
	width: 100%;
	height: 41px;
}
.box2-3 .ul8 p{
	width: 260px;
	height: 41px;
	line-height: 41px;
	font-size: 14px;
	text-align: center;
	float: left;
	font-weight: 700;
}
.box2-3 .ul8 h3{
	float: right;
	width: 258px;
	height: 40px;
	background-color: #e5e5e5;;
}
.box2-3 .ul8 h3 a{
	float: left;
	font-size: 14px;
	line-height: 40px;
	padding: 0 56px;
	color: red;
	font-family: "宋体";	
	display: block;
}
.box2-4{
	padding: 30px 0px 0px 30px;
}
.tex{
	outline: none;
	border: none;
	height: 31px;
	width: 223px;
	background: url(../images/images1/13.gif) no-repeat -1px -351px;
}
.box2-4 span{
	font-size: 14px;
}

.box2-5{
	padding: 30px 0px 0px 30px;
}
.tex1{
	outline: none;
	border: none;
	height: 31px;
	width: 223px;
	background: url(../images/images1/13.gif) no-repeat -1px -351px;
}
.box2-5 span{
	font-size: 14px;
}

.box2-6{
	padding: 30px 0px 0px 30px;
}
.tex2{
	outline: none;
	border: none;
	height: 31px;
	width: 82px;
	background: url(../images/images1/13.gif) no-repeat -452px -351px;
}
.box2-6 span{
	font-size: 14px;
}
.ul10{
	width: 520px;
	height: 75px;
}
.box2-7{
	width: 96px;
	height: 34px;
	float: left;
	background: url(../images/images1/13.gif) no-repeat -581px -138px;
	cursor: pointer;
	margin: 22px 0px 0px 107px;
}
.box2-8{
	margin: 30px 200px 0px 0px;
	width: 80px;
	float: right;
	font-size: 12px;
	font-family: "宋体";
}
.ul11{
	width: 100%;
	height: 70px;
	margin-top: 20px;
	border-top: 1px dotted #CCCCCC;
}
.ul11 h3{
	font-size: 12px;
	color: #666666;
	font-weight: 100;
	padding: 10px 0px 0px 20px;
}
.ul11 p{
	margin-top: 15px;
	margin-left: 20px;
}
.ul11 a{
	display: block;
	width: 78px;
	height: 20px;
	float: left;
	margin-right: 10px;
}


















.box10{
	width: 980px;
	height: 127px;
	background: url(../images/93.gif) repeat-x;
	margin-top: 6px;
	margin: 0 auto;
	margin-top: 20px;
}
.box10 .dl1{
	width: 80px;
	height: 110px;
	padding: 10px 0px 0px 20px;
	float: left;
}
.dl1 dt{
	width: 80px;
	height: 20px;
	background: url(../images/85.gif) no-repeat 0px -53px;
}
.dl1 dd{
	margin-top: 15px;
	font-size: 12px;
	font-family: "宋体";
}
.dl1 dd a{
	display: block;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 3px;
}

.box10 .k1{
	width: 2px;
	height: 63px;
	background: url(../images/85.gif) no-repeat -396px -27px;
	margin-top: 47px;
	float: left;
	margin-left: 40px;
	margin-right: 10px;
}
.box10 .dl2{
	width: 80px;
	height: 110px;
	padding: 10px 0px 0px 20px;
	float: left;
}
.dl2 dt{
	width: 80px;
	height: 20px;
	background: url(../images/85.gif) no-repeat 0px -73px;
}
.dl2 dd{
	margin-top: 15px;
	font-size: 12px;
	font-family: "宋体";
}
.dl2 dd a{
	display: block;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 3px;
}

.box10 .k2{
	width: 2px;
	height: 63px;
	background: url(../images/85.gif) no-repeat -396px -27px;
	margin-top: 47px;
	float: left;
	margin-left: 40px;
	margin-right: 10px;
}
.box10 .dl3{
	width: 80px;
	height: 110px;
	padding: 10px 0px 0px 20px;
	float: left;
}
.dl3 dt{
	width: 80px;
	height: 20px;
	background: url(../images/85.gif) no-repeat 0px -94px;
}
.dl3 dd{
	margin-top: 15px;
	font-size: 12px;
	font-family: "宋体";
}
.dl3 dd a{
	display: block;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 3px;
}

.box10 .k3{
	width: 2px;
	height: 63px;
	background: url(../images/85.gif) no-repeat -396px -27px;
	margin-top: 47px;
	float: left;
	margin-left: 40px;
	margin-right: 10px;
}
.box10 .dl4{
	width: 80px;
	height: 110px;
	padding: 10px 0px 0px 20px;
	float: left;
}
.dl4 dt{
	width: 80px;
	height: 20px;
	background: url(../images/85.gif) no-repeat 0px -114px;
}
.dl4 dd{
	margin-top: 15px;
	font-size: 12px;
	font-family: "宋体";
}
.dl4 dd a{
	display: block;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 3px;
}

.box10 .k4{
	width: 387px;
	height: 127px;
	background: url(../images/111.jpg) no-repeat;
	float: right;
}


.box11{
	width: 980px;
	height: 113px;
	margin: 0 auto;
}
.box11 .ul15{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	font-family: "宋体";
	text-align: center;
}
.ul15 a{
	color: #000000;
}

.box11 .ul16{
	width: 100%;
	font-size: 12px;
	font-family: "宋体";
	text-align: center;
}

.box11 .ul17{
	width: 100%;
	text-align: center;
	height: 47px;
	padding-top: 10px;
}